@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-medium;
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-[5px];
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-black/10 px-4 rounded-corner-small;
  }
}

span,
p,
button,
input,
label {
  @apply text-sm text-black;
}
